@{
    ViewData["Title"] = "Puzz Fuzz";
}
@section Scripts {
    <script type="text/javascript" src="~/js/puzzfuzz.js"></script>
}
<canvas class="myCanvas">
    <p>Your browser doesn't support canvas or is disabled.</p>
</canvas>
