@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>So far I can only measure the traffic via Azure. Later you will be able to create an account for things
like competitive matchmaking. Then this will be updated to provide more detail about that.</p>
